@model IEnumerable<TrainingCenter.BLL.Models.InstructorCourseVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/MainLayout.cshtml";
}

<br />
<br />
<a asp-action="Create" asp-controller="InstructorCourse" class="btn btn-primary">+ Assign New Course to Instructor</a>

<br />
<br />

<table class="table table-striped table-hover text-center">

    <thead>
        <tr>
            <th class="text-center">Course Name</th>
            <th class="text-center">Instructor Name</th>
            <th class="text-center">Course Date</th>

           

        </tr>
    </thead>
    <tbody>



        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Course.Title</td>
                <td>@item.Instructor.Name</td>
                <td>@item.Time</td>

               
            </tr>
        }

    </tbody>
</table>
